.navbar {
    height: 85px;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 调整阴影的透明度 */
    transition: opacity 1s ease, visibility 1s ease; /* Adds smooth fading effect */
}
.container {
    display: flex;
    align-items: center;
}

.custom-navbar {
    /* background-color: #7b4184 !important; 强制应用背景色 */
    /* background-color: rgba(123, 65, 132, 0.5) !important; 半透明背景色 */
    background-color: rgba(225, 110, 170, 0.5) !important; /* 半透明粉色 */
    
}


.custom-navbar .navbar-brand {
    color: #ffffff !important; /* 强制应用白色文字 */ 
}

.custom-navbar .nav-link {
    color: #ffffff !important; /* 强制应用文字颜色 */
}
/* handwriting name*/
@keyframes handwriting {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.navbar-brand {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-size: 40px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: handwriting 4s steps(30) forwards; /* 修改为 forwards，动画结束时保持最后状态 */
    animation-iteration-count: 1; /* 动画只执行一次 */
}
#contact {
    margin-top: 80px;
}