body {
    font-family: "Inter", serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
/* navbar */
.navbar {
    height: 80px;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 调整阴影的透明度 */
    transition: opacity 1s ease, visibility 1s ease; /* Adds smooth fading effect */
}
.container {
    display: flex;
    align-items: center;
}

.custom-navbar {
    background-color: #7b4184 !important;/* 强制应用背景色*/
    /* background-color: rgba(123, 65, 132, 0.5) !important; 半透明背景色 */
    /* background-color: rgba(225, 110, 170, 0.5) !important; 半透明粉色 */
    
}


.custom-navbar .navbar-brand {
    color: white; /* 强制应用白色文字 */ 
}

.custom-navbar .nav-link {
    color: #ffffff; /* 强制应用文字颜色 */
}
/* handwriting name*/
/* @keyframes handwriting {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
} */
/* burger menu white */
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22white%22 stroke-width%3D%222%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E');
}
.navbar-toggler {
    border: none;
    background: transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.navbar-toggler:hover {
    background-color: #7b4184;
    box-shadow: 0 0 10px rgba(123, 65, 132, 0.2); /* Adds a subtle shadow */
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* link hover */
/* Hover effect for navbar links */
.navbar-nav .nav-link:hover {
    color: #e16eaa; /* Change this color to any you like */
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
/* pop up menu*/
#offcanvasNav {
    width: 100%;  /* Make the off-canvas take full screen width */
    background-color: #7b4184;
}
.offcanvas-body {
    font-weight: 500;
    font-size: x-large;
}
.offcanvas-body .navbar-nav{
    margin-top: 100px;
}
/* close button */
.offcanvas-header {
    position: relative;
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 40px;
    border: none;
    background: none;
    padding: 0;
}


.navbar-brand {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-size: 40px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: handwriting 4s steps(30) forwards; /* 修改为 forwards，动画结束时保持最后状态 */
    animation-iteration-count: 1; /* 动画只执行一次 */
    margin: 0;
    padding: 0;
}

/* card section */

/* title section */
h1 {
    width: 100%;
    height: 60px;
    font-weight: 300;
    font-size: 2.5rem;
    position: relative;
    color: #333; 
    overflow: hidden;
    /* margin: 140px 0 70px 0; */
    text-align: center;
    /* margin-bottom: 0;
    padding-bottom: 0; */
  }
  #title {
    margin: 120px auto 10px;
  }
  /* 光滑效果 */
  h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #f7f7f7, transparent);
    animation: shine 3s;
  }  
  /* 定义光滑过的动画 */
  @keyframes shine {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
 
/* 描述文本容器 */
.description {
    margin-top: 25px;
    margin-bottom: 20px;
    /* padding-top: 30px; */
    padding: 10px 15px 0;
    font-size: 16px;
    /* font-weight: bold; */
    /* background-color: #d4d4dc; */
    color: #333; /* 字体颜色 */
    line-height: 1.5;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-top: #d4d4dc solid 2px;
    border-bottom: #d4d4dc solid 2px;
}
h5 {
    text-align: center;
    margin-bottom: 15px;
}

/* images slide in and out */
.carousel {
    position: relative;
    max-width: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slides a {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    height: auto;
    
}

.carousel-control {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.258);
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


/* button */
#case-studies-container_1, #case-studies-container_2, #case-studies-container_3 {
    width: 50%;
    margin-bottom: 40px;
    
}
.case-studies-container img {
    width: 100%;
    /* max-width: 300px; */
    margin: 10px;
    display: inline-block;
    /* 其他样式 */
}

#show-cases-btn_1, #show-cases-btn_2, #show-cases-btn_3{
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: #7b4184;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width:200px;
    border-radius: 8px;
}

#show-cases-btn_1:hover, #show-cases-btn_2:hover, #show-cases-btn_3:hover{
    color:#e16eaa;
}


/* additio */
/* .carousel {
    position: relative;
    max-width: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
} */





/* 移动端样式 */
@media (max-width: 767px) {
    #title {
        margin: 118px auto 0;
      }
    .responsive-video {
        width: 100%; /* 移动端宽度为 100% */
        /* padding-top: 56.25%; 16:9 比例 */
        margin-top: 0;
    }
    .description {
        width: 100%;
    }
    h1 {
        font-size: xx-large;
        margin: 120px 0 0px 0;
      }

    .carousel {
        position: relative;
        max-width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    #case-studies-container_1, #case-studies-container_2, #case-studies-container_3{
        width: 100%;
    }
}